@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --cor-primaria: #0f0e0e;
    --cor-secundaria: #eeee;
    --cor-terciaria: #8b9a46;
    --cor-hover: #541212;

    --fonte-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}    

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.menu_link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);

}

.destaque {
    color: var(--cor-terciaria);
}

.texto {
    font-size: 1.1rem;
    font-family: var(--font-secundaria);
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.links_navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.links_navegacao:hover {
    background-color: var(--cor-hover);
}

.apresentacao_imagem {
    width: 50%;
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho{
        padding: 10% 1%;
        display: flex;
        justify-content: center; /* Centraliza horizontalmente */
        align-items: center; /* Centraliza verticalmente (se necessário) */
        width: 100%; /* Garante que o cabeçalho ocupe toda a largura */
    }

    .cabecalho__menu {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .apresentacao{
        padding: 5%;
        flex-direction: column-reverse;
    }

    .conteudo {
        width: auto;
    }
    
}
